.navbar-brand {
	font-family: trebuchet ms;
	font-size: 30px;
}

.nav-item {
	font-size: 18px;
}

#head {
	padding: 15px 0px 0px 0px; 
}

input[type='radio']{
	margin-right: 4px;
	margin-left: 8px;

}

#preview-img {
	width: 175px; height: 175px;
	border-radius: 50%;
	display: block;
	margin: 0px auto;
	margin: 0px auto 10px auto;
}

#

.cursor-pointer{
  cursor: pointer;
}