html, body, header, #intro {
	height: 100%;
}

.navbar-brand {
	font-family: trebuchet ms;
	font-size: 30px;
}

.nav-item {
	font-size: 18px;
}

#title {
	font-size: 30px;
}

.display-4 {
	font-family: Roboto;
}

.cursor-pointer{
  cursor: pointer;
}